<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Organization</key>
	<dict>
		<key>Name</key>
		<string>NASA</string>
		<key>Id</key>
		<string>nasa</string>
	</dict>
	<key>TableViews</key>
	<dict>
		<key>Background</key>
		<dict>
			<key>Color</key>
			<dict>
				<key>Red</key>
				<real>0.14</real>
				<key>Green</key>
				<real>0.14</real>
				<key>Blue</key>
				<real>0.14</real>
				<key>Alpha</key>
				<integer>1</integer>
			</dict>
		</dict>
		<key>Separators</key>
		<dict>
			<key>Color</key>
			<dict>
				<key>Red</key>
				<real>0.2</real>
				<key>Green</key>
				<real>0.2</real>
				<key>Blue</key>
				<real>0.2</real>
				<key>Alpha</key>
				<integer>1</integer>
			</dict>
		</dict>
		<key>Cells</key>
		<dict>
			<key>AccessoryCell</key>
			<dict>
				<key>Description</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>Red</key>
						<integer>1</integer>
						<key>Green</key>
						<integer>1</integer>
						<key>Blue</key>
						<integer>1</integer>
						<key>Alpha</key>
						<integer>1</integer>
					</dict>
				</dict>
			</dict>
			<key>TintColor</key>
			<dict>
				<key>Red</key>
				<integer>1</integer>
				<key>Green</key>
				<integer>1</integer>
				<key>Blue</key>
				<integer>1</integer>
				<key>Alpha</key>
				<integer>1</integer>
			</dict>
			<key>Text</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>Red</key>
					<integer>1</integer>
					<key>Green</key>
					<integer>1</integer>
					<key>Blue</key>
					<integer>1</integer>
					<key>Alpha</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>Title</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>Red</key>
					<integer>1</integer>
					<key>Green</key>
					<integer>1</integer>
					<key>Blue</key>
					<integer>1</integer>
					<key>Alpha</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>SecondaryText</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>Red</key>
					<integer>1</integer>
					<key>Green</key>
					<integer>1</integer>
					<key>Blue</key>
					<integer>1</integer>
					<key>Alpha</key>
					<integer>1</integer>
				</dict>
			</dict>
		</dict>
		<key>SectionHeaders</key>
		<dict>
			<key>Text</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>Red</key>
					<integer>1</integer>
					<key>Green</key>
					<integer>1</integer>
					<key>Blue</key>
					<integer>1</integer>
					<key>Alpha</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>Background</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>Red</key>
					<integer>0</integer>
					<key>Green</key>
					<integer>0</integer>
					<key>Blue</key>
					<integer>0</integer>
					<key>Alpha</key>
					<integer>1</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>LoadingView</key>
	<dict>
		<key>Activity</key>
		<dict>
			<key>Color</key>
			<dict>
				<key>Red</key>
				<integer>1</integer>
				<key>Green</key>
				<integer>1</integer>
				<key>Blue</key>
				<integer>1</integer>
				<key>Alpha</key>
				<integer>1</integer>
			</dict>
		</dict>
		<key>Text</key>
		<dict>
			<key>Color</key>
			<dict>
				<key>Red</key>
				<integer>1</integer>
				<key>Green</key>
				<integer>1</integer>
				<key>Blue</key>
				<integer>1</integer>
				<key>Alpha</key>
				<integer>1</integer>
			</dict>
		</dict>
		<key>Background</key>
		<dict>
			<key>Color</key>
			<dict>
				<key>Red</key>
				<real>0.2</real>
				<key>Green</key>
				<real>0.2</real>
				<key>Blue</key>
				<real>0.2</real>
				<key>Alpha</key>
				<integer>1</integer>
			</dict>
		</dict>
	</dict>
	<key>Auth</key>
	<dict>
		<key>Modal</key>
		<dict>
			<key>Background</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>Red</key>
					<real>0.35</real>
					<key>Green</key>
					<real>0.13</real>
					<key>Blue</key>
					<real>0.65</real>
					<key>Alpha</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>Red</key>
					<real>0.2</real>
					<key>Green</key>
					<real>0.2</real>
					<key>Blue</key>
					<real>0.2</real>
					<key>Alpha</key>
					<integer>1</integer>
				</dict>
			</dict>
		</dict>
		<key>Menu</key>
		<dict>
			<key>Button</key>
			<dict>
				<key>Background</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>Red</key>
						<real>0.2</real>
						<key>Green</key>
						<real>0.2</real>
						<key>Blue</key>
						<real>0.2</real>
						<key>Alpha</key>
						<integer>1</integer>
					</dict>
				</dict>
				<key>Text</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>Red</key>
						<integer>1</integer>
						<key>Green</key>
						<integer>1</integer>
						<key>Blue</key>
						<integer>1</integer>
						<key>Alpha</key>
						<integer>1</integer>
					</dict>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>Red</key>
					<integer>1</integer>
					<key>Green</key>
					<integer>1</integer>
					<key>Blue</key>
					<integer>1</integer>
					<key>Alpha</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>Background</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>Red</key>
					<integer>0</integer>
					<key>Green</key>
					<integer>0</integer>
					<key>Blue</key>
					<integer>0</integer>
					<key>Alpha</key>
					<integer>1</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>Promotion</key>
	<dict>
		<key>Header</key>
		<dict>
			<key>HomeOptionBackground</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>Red</key>
					<real>0.15</real>
					<key>Green</key>
					<real>0.15</real>
					<key>Blue</key>
					<real>0.15</real>
					<key>Alpha</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>PromoOptionBackground</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>Red</key>
					<integer>0</integer>
					<key>Green</key>
					<integer>0</integer>
					<key>Blue</key>
					<integer>0</integer>
					<key>Alpha</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>Arrow</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>Red</key>
					<real>0.29</real>
					<key>Green</key>
					<real>0.29</real>
					<key>Blue</key>
					<real>0.29</real>
					<key>Alpha</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>Red</key>
					<real>0.42</real>
					<key>Green</key>
					<real>0.42</real>
					<key>Blue</key>
					<real>0.42</real>
					<key>Alpha</key>
					<integer>1</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>Player</key>
	<dict>
		<key>TitleOverlay</key>
		<dict>
			<key>Alpha</key>
			<real>0.5</real>
			<key>Text</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>Red</key>
					<integer>1</integer>
					<key>Green</key>
					<integer>1</integer>
					<key>Blue</key>
					<integer>1</integer>
					<key>Alpha</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>Background</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>Red</key>
					<real>0.33</real>
					<key>Green</key>
					<real>0.33</real>
					<key>Blue</key>
					<real>0.33</real>
					<key>Alpha</key>
					<integer>1</integer>
				</dict>
			</dict>
		</dict>
		<key>Title</key>
		<dict>
			<key>Color</key>
			<dict>
				<key>Red</key>
				<real>0.08</real>
				<key>Green</key>
				<real>0.08</real>
				<key>Blue</key>
				<real>0.08</real>
				<key>Alpha</key>
				<integer>1</integer>
			</dict>
		</dict>
		<key>Description</key>
		<dict>
			<key>Color</key>
			<dict>
				<key>Red</key>
				<real>0.5</real>
				<key>Green</key>
				<real>0.5</real>
				<key>Blue</key>
				<real>0.5</real>
				<key>Alpha</key>
				<integer>1</integer>
			</dict>
		</dict>
		<key>Controls</key>
		<dict>
			<key>Color</key>
			<dict>
				<key>Red</key>
				<real>0.08</real>
				<key>Green</key>
				<real>0.08</real>
				<key>Blue</key>
				<real>0.08</real>
				<key>Alpha</key>
				<integer>1</integer>
			</dict>
		</dict>
	</dict>
	<key>PrimaryNavigationBar</key>
	<dict>
		<key>TintColor</key>
		<dict>
			<key>Red</key>
			<integer>1</integer>
			<key>Green</key>
			<integer>1</integer>
			<key>Blue</key>
			<integer>1</integer>
			<key>Alpha</key>
			<integer>1</integer>
		</dict>
		<key>Gradient</key>
		<dict>
			<key>CenterColor</key>
			<dict>
				<key>Red</key>
				<real>0.24</real>
				<key>Green</key>
				<real>0.53</real>
				<key>Blue</key>
				<real>0.9399999999999999</real>
				<key>Alpha</key>
				<integer>1</integer>
			</dict>
			<key>EdgeColor</key>
			<dict>
				<key>Red</key>
				<real>0.24</real>
				<key>Green</key>
				<real>0.53</real>
				<key>Blue</key>
				<real>0.9399999999999999</real>
				<key>Alpha</key>
				<integer>1</integer>
			</dict>
		</dict>
	</dict>
	<key>SideMenu</key>
	<dict>
		<key>SectionHeader</key>
		<dict>
			<key>Background</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>Red</key>
					<real>0.14</real>
					<key>Green</key>
					<real>0.14</real>
					<key>Blue</key>
					<real>0.14</real>
					<key>Alpha</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>Red</key>
					<real>0.5</real>
					<key>Green</key>
					<real>0.5</real>
					<key>Blue</key>
					<real>0.5</real>
					<key>Alpha</key>
					<integer>1</integer>
				</dict>
			</dict>
		</dict>
		<key>NavigationBar</key>
		<dict>
			<key>Color</key>
			<dict>
				<key>Red</key>
				<real>0.26</real>
				<key>Green</key>
				<real>0.26</real>
				<key>Blue</key>
				<real>0.26</real>
				<key>Alpha</key>
				<integer>1</integer>
			</dict>
		</dict>
		<key>Cells</key>
		<dict>
			<key>Title</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>Red</key>
					<integer>1</integer>
					<key>Green</key>
					<integer>1</integer>
					<key>Blue</key>
					<integer>1</integer>
					<key>Alpha</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>Background</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>Red</key>
					<real>0.26</real>
					<key>Green</key>
					<real>0.26</real>
					<key>Blue</key>
					<real>0.26</real>
					<key>Alpha</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>Accessory</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>Red</key>
					<integer>1</integer>
					<key>Green</key>
					<integer>1</integer>
					<key>Blue</key>
					<integer>1</integer>
					<key>Alpha</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>Separators</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>Red</key>
					<real>0.2</real>
					<key>Green</key>
					<real>0.2</real>
					<key>Blue</key>
					<real>0.2</real>
					<key>Alpha</key>
					<integer>1</integer>
				</dict>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
